<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="algonquin.cst2335.Application">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bus_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectAndroid">
        <activity android:name=".OCFavouriteClass" android:label="Favourites"/>
        <activity android:name=".OCSettingsClass" android:label="Settings"/>
        <activity android:name=".OCContactClass" android:label="Contacts"/>
        <activity android:name=".OCInfoClass" android:label="Information"/>
        <activity android:name=".OCFareClass" android:label="Payment Per Ride"/>
        <activity android:name=".OCFeedbackClass" android:label="Feedback"/>
        <activity android:name=".OCTranspoMainClass" android:label="Enter the Bus number">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>